Generator failing

<!--
	Please note: GitHub issues should only be used for feature requests and
	bug reports. For general discussions and support, please refer to one of:

	- #prometheus on freenode
	- the Prometheus Users list: https://groups.google.com/forum/#!forum/prometheus-users

	For bug reports, please fill out the below fields and provide as much detail
	as possible about your issue.  For feature requests, you may omit the
	following template.
	
	If you include CLI output, please run those programs with additional parameters:
		snmp_exporter: `-log.level=debug`
		snmpbulkget etc: `-On`
-->

### Host operating system: output of `uname -a`
Using the dockerfile built container

### snmp_exporter version: output of `snmp_exporter -version`
<!-- If building from source, run `make` first. -->

### What device/snmpwalk OID are you using?
generator.yml
```
modules:
# APC/Schneider UPS Network Management Cards
#
# Note: older management cards only support SNMP v1 (AP9606 and
# AP9607, possibly others). Older versions of the firmware may only
# support v1 as well. If you only have newer cards you can switch to
# version v2c or v3.
#
# The management cards have relatively slow processors so don't poll
# very often and give a generous timeout to prevent spurious
# errors. Alternatively you can eliminate the interface polling (OIDs
# beginning with 1.3.6.1.2.1) to reduce the time taken for polling.
#
# MIB: https://download.schneider-electric.com/files?p_File_Name=powernet426.mib
# Guide: http://www.apc.com/salestools/ASTE-6Z5QEY/ASTE-6Z5QEY_R0_EN.pdf
# Download site: http://www.apc.com/us/en/tools/download/index.cfm
  apc:
    version: 1
    walk:
      - sysUpTime
      - interfaces
```

### If this is a new device, please link to the MIB(s).

### What did you do that produced an error?
I downloaded the APC mib to the `~/.snmp/mibs/` however, the generator won't work, even when using the demo generator block for apc. 

### What did you expect to see?
Generate a default config
### What did you see instead?
```
000:generator qrpike$ docker run -ti   -v $HOME/.snmp/mibs:/root/.snmp/mibs   -v $PWD/generator.yml:/opt/generator.yml:ro   -v $PWD/out/:/opt/   snmp-generator generate
INFO[0000] Loading MIBs from $HOME/.snmp/mibs:/usr/share/snmp/mibs:/usr/share/snmp/mibs/iana:/usr/share/snmp/mibs/ietf:/usr/share/mibs/site:/usr/share/snmp/mibs:/usr/share/mibs/iana:/usr/share/mibs/ietf:/usr/share/mibs/netsnmp  source="net_snmp.go:136"
WARN[0000] NetSNMP reported 17568 parse errors           source="main.go:103"
INFO[0000] Generating config for module apc              source="main.go:49"
FATA[0000] Cannot find oid 'interfaces' to walk          source="tree.go:288"
```

This is also happening on a brand new install of snmp_exporter on centos 6. Same error/line number. No mibs have been installed yet.

That's to be expected. If you don't have mibs, then the generator can't work.

Failing with a more explicit error like "none of the mibs found contain X,
please make sure all relevant mibs are installed and readable" as the last
line would make sense.

Sent by mobile; please excuse my brevity.

On Wed, Jan 23, 2019, 16:58 Brian Brazil <notifications@github.com wrote:

> That's to be expected. If you don't have mibs, then the generator can't
> work.
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/prometheus/snmp_exporter/issues/373#issuecomment-456856990>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAuEI4JEOxyWHLWsYHKS4YhMn7JEJ8hlks5vGIaQgaJpZM4Z7xUZ>
> .
>


@RichiH  I got it to work by installing everything from source and not using the docker container. 

Be carreful with Docker container, you must download ALL dependances mibs.
In your APC mib you have : 
```
IMPORTS
   enterprises, IpAddress, Gauge, TimeTicks             FROM RFC1155-SMI
   DisplayString                                        FROM RFC1213-MIB
   OBJECT-TYPE                                          FROM RFC-1212
   TRAP-TYPE                                            FROM RFC-1215;
```

You must put all RFCxxx mibs in your mibs directory.