Handle implied string indexes

### Host operating system: output of `uname -a`
Linux asd 4.16.0-0.bpo.1-amd64 #1 SMP Debian 4.16.5-1~bpo9+1 (2018-05-06) x86_64 GNU/Linux

### snmp_exporter version: output of `snmp_exporter -version`
Snmp_exporter-0.11.0.linux-amd64


There seems to be a problem with parsing string length (tmnxSubMgmtSlaProfStatsName). In my case, first character is chopped off and trailer 0x00 remain into output. Issue disappears when index is forced to fixed_size (trailer 0x00 remains ofc but I can probably get rid of it with regexp).

Could it be it's because of TNamedItem which is not picked up (as tmnxSubMgmtSlaProfStatsName remains OctetString and is not turned to DisplayString by generator)?

```
snmpwalk with MIBs loaded:
TIMETRA-SUBSCRIBER-MGMT-MIB::tmnxSubMgmtSlaProfStatsCurr.'HSI' = Counter32: 2459
TIMETRA-SUBSCRIBER-MGMT-MIB::tmnxSubMgmtSlaProfStatsCurr.'HSI+VOIP' = Counter32: 9588
```

```
snmp_exporter without forcing to DisplayString:
tmnxSubMgmtSlaProfStatsCurr{tmnxSubMgmtSlaProfStatsName="0x534900000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"} 2459
tmnxSubMgmtSlaProfStatsCurr{tmnxSubMgmtSlaProfStatsName="0x53492B564F49500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"} 9587
```

```
snmp_exporter when forced to DisplayString:
tmnxSubMgmtSlaProfStatsCurr{tmnxSubMgmtSlaProfStatsName="SI����������������������������������������������������������������������"} 2459
tmnxSubMgmtSlaProfStatsCurr{tmnxSubMgmtSlaProfStatsName="SI+VOIP�����������������������������������������������������������������"} 9589
```

As the MIBs are not public, here are the relevant parts:

```
tmnxSubMgmtSlaProfStatsEntry OBJECT-TYPE
    SYNTAX      TmnxSubMgmtSlaProfStatsEntry
    MAX-ACCESS  not-accessible
    STATUS      current
    DESCRIPTION
        "Each row entry represents a set of subscriber mgmt
         SLA-profile statistics."
    INDEX { IMPLIED tmnxSubMgmtSlaProfStatsName }
    ::= { tmnxSubMgmtSlaProfStatsTable 1 }

TmnxSubMgmtSlaProfStatsEntry ::=
    SEQUENCE {
        tmnxSubMgmtSlaProfStatsName      TNamedItem,
        tmnxSubMgmtSlaProfStatsCurr      Counter32,
        tmnxSubMgmtSlaProfStatsPeak      Counter32,
        tmnxSubMgmtSlaProfStatsTimestamp TimeStamp
    }

TNamedItem                       ::= TEXTUAL-CONVENTION
    STATUS      current
    DESCRIPTION
        "The name of an item.  When used as an index to a table, the item
         name uniquely identifies the instance.  When used in a reference
         (TNamedItemOrEmpty) the item name entry must exist in the table.

         Note, use only NVT ASCII displayable characters here, no control
         characters, no UTF-8, etc."
    SYNTAX      DisplayString (SIZE (1..32))

```

> Issue disappears when index is forced to fixed_size 

That sounds like the device is not following the MIB/spec, and returning a fixed size string (which has no length preceding it) rather than a dynamic sized string (which does) which is should be doing given `SIZE (1..32)`. I'd need to see the exact oid being returned to confirm, but that's probably it.

Thats what I thought as well and snmpwalk confirms it:
```
.1.3.6.1.4.1.6527.3.1.2.33.1.153.1.2.72.83.73 = Counter32: 2460
.1.3.6.1.4.1.6527.3.1.2.33.1.153.1.2.72.83.73.43.86.79.73.80 = Counter32: 9593
```

But I was wondering how does net-snmp itself get it right?

I'm not familiar enough with net-snmp to say. It's probably some lossy heuristic, which isn't something the snmp exporter can consider using as labels for us are more than just displayed strings.

Can you tcpdump to make _sure_ what's on the wire? SNMP is a valley of
pain, and has grown organically.

Sent by mobile; please excuse my brevity.

On Sat, Jun 9, 2018, 17:44 tarko <notifications@github.com> wrote:

> Thats what I thought as well and snmpwalk confirms it:
>
> .1.3.6.1.4.1.6527.3.1.2.33.1.153.1.2.72.83.73 = Counter32: 2460
> .1.3.6.1.4.1.6527.3.1.2.33.1.153.1.2.72.83.73.43.86.79.73.80 = Counter32: 9593
>
> But I was wondering how does net-snmp itself get it right?
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/prometheus/snmp_exporter/issues/305#issuecomment-395978792>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAuEI1TzR-e2hTiEa6kSEwN9FkePoLhJks5t6-1mgaJpZM4UhXYF>
> .
>


Sure and there is no length on the wire, just bytes 72, 83, 73

```
            variable-bindings: 1 item
                1.3.6.1.4.1.6527.3.1.2.33.1.153.1.2.72.83.73: 2459
                    Object Name: 1.3.6.1.4.1.6527.3.1.2.33.1.153.1.2.72.83.73 (iso.3.6.1.4.1.6527.3.1.2.33.1.153.1.2.72.83.73)
                    Value (Counter32): 2459

```

I'm digging into the encoding but meanwhile I stumbled upon following:

https://stackoverflow.com/questions/17650430/snmp-table-index-using-octet-string

How an OID is encoded is very standardized. If the index is specified as just an OCTET STRING, the length (4) MUST be in the OID (and tools like snmpwalk will expect it). If the index is specified as an IMPLICIT OCTET STRING, then it must be the last index and the length MUST be omitted. – Wes Hardaker Jul 16 '13 at 13:31


I've not come across this IMPLICIT keyword, do you have a reference to an RFC? Your MIB also lacks this keyword, so would have a length in any case.

It's way worse than that: The MIB does not need to specify this, maybe it can not even do so, as RFC 1157 refers to [ASN.1](https://www.itu.int/en/ITU-T/asn1/Pages/introduction.aspx) for its underlying encoding - It seems this is specified in [ISO 8825-1 | ITU-T X.690](https://www.itu.int/itu-t/recommendations/rec.aspx?rec=x.690)

That'd be completely unworkable, as there's two different ways a string could be defined and we have no way to distinguish them.

That's not the case though. This device is violating RFC 1212 4.1.6(3).

Not that it would explain anything, but another table from the same device that uses two indexes, first string and then integer, works correctly (and there is string length prepended).

I've also reached out to @hardaker for more detailed explanation if possible.

I think I've reached the bottom of this.

Devil is in the "IMPLIED" keyword. See RFC2578 section 7.7:

```
(2)  string-valued, fixed-length strings (or variable-length preceded by
     the IMPLIED keyword):  `n' sub-identifiers, where `n' is the length
     of the string (each octet of the string is encoded in a separate
     sub-identifier);
```

There is also an net-snmp FAQ for this: http://net-snmp.sourceforge.net/wiki/index.php/FAQ:Applications_17


Sounds like something we should be supporting then.

I do wonder if we want to expose some metrics about data types etc to see how much of all those weird hacks is out in the wild.

I am pretty sure I ran into this in the past, but couldn't find a corresponding issue when having a quick look.

I see no IMPLICIT tags anywhere in my corpus of MIBs.

Seems to be pretty widely used, this is from my set of MIBs:

tarko@tarkolap:~/.snmp$ grep -r -P "INDEX .* IMPLIED " -l
JuniperMibs/mib-jnx-l2tp.txt
JuniperMibs/mib-jnx-js-cert.txt
JuniperMibs/mib-jnx-sonetaps.txt
JuniperMibs/mib-jnx-util.txt
JuniperMibs/mib-jnx-js-screening.txt
JuniperMibs/mib-jnx-vlan.txt
JuniperMibs/mib-jnx-mpls.txt
alcatel-7750/SNMP-NOTIFICATION-MIB.mib
alcatel-7750/SNMP-PROXY-MIB.mib
alcatel-7750/TIMETRA-DIAMETER-MIB.mib
alcatel-7750/TIMETRA-GSMP-MIB.mib
alcatel-7750/TIMETRA-SECURITY-MIB.mib
alcatel-7750/TIMETRA-PORT-MIB.mib
alcatel-7750/TIMETRA-OAM-TEST-MIB.mib
alcatel-7750/TIMETRA-SUBSCRIBER-MGMT-MIB.mib
alcatel-7750/TIMETRA-QOS-MIB.mib
alcatel-7750/TIMETRA-MIRROR-MIB.mib
alcatel-7750/TIMETRA-SYSTEM-MIB.mib
alcatel-7750/TIMETRA-PPPOE-MIB.mib
alcatel-7750/TIMETRA-VRTR-MIB.mib
alcatel-7750/TIMETRA-BSX-NG-MIB.mib
alcatel-7750/TIMETRA-FILTER-MIB.mib
alcatel-7750/TIMETRA-MC-REDUNDANCY-MIB.mib
alcatel-7750/TIMETRA-RADIUS-MIB.mib
alcatel-7750/TIMETRA-IPSEC-STATIC-SA-MIB.mib
alcatel-7750/TIMETRA-DYNAMIC-SERVICES-MIB.mib
alcatel-7750/TIMETRA-CALLTRACE-MIB.mib
alcatel-7750/SNMP-TARGET-MIB.mib
alcatel-7750/TIMETRA-BGP-MIB.mib
alcatel-7750/TIMETRA-SDP-MIB.mib
alcatel-7750/TIMETRA-WEB-PORTAL-PROTOCOL-MIB.mib
alcatel-7750/TIMETRA-LOCAL-USER-DB-MIB.mib
alcatel-7750/TIMETRA-SERV-MIB.mib
alcatel-7750/SNMP-COMMUNITY-MIB.mib
alcatel-7750/TIMETRA-NAT-MIB.mib
alcatel-7750/TIMETRA-IPFIX-MIB.mib
alcatel-7750/TIMETRA-WLAN-GW-MIB.mib
alcatel-7750/APS-MIB.mib
huawei/HUAWEI-MNGT-USER.mib
huawei/TARGET.MIB
huawei/HUAWEI-XPON-MIB.mib
huawei/HUAWEI-VDSL2-LINE-MIB.MIB
huawei/VDSL-LINE-MIB-adslmib-00.mib
huawei/HUAWEI-DEVICE-MIB.mib
huawei/HUAWEI-VDSL-QAM-MIB.mib
huawei/notification.mib
huawei/HUAWEI-LICENSE-MIB.mib
huawei/HUAWEI-NGADSL-LINE-MIB.mib
huawei/LA110_30.MIB
huawei/HUAWEI-GPON-MIB.mib
huawei/HUAWEI-SNMPTrapCommunity-MIB.mib
huawei/HDSL2-SHDSL-LINE-MIB.mib
huawei/SNMP-TARGET-MIB.mib
huawei/HUAWEI-BULKSTATISTICS-MIB.MIB
huawei/HUAWEI-ADSL2-LINE-MIB.mib
huawei/ADSL-LINE-MIB-rfc2662.mib
dslam/dlccSdsl.asn


Juniper MIBs are publically available if you need them for testing. Others I can probably supply on-request.

Looks like I messed up my grep, I'm seeing some now. I don't believe Juniper MIBs are actually public.

They are, https://www.juniper.net/documentation/software/junos/junos181/juniper-mibs-18.1R1.9.zip

@tarko low priority, but can you do a count on the amount of IMPLIED statements in those?

@RichiH, from the MIB sets I use the most (including the juniper):

```
tarko@tarkolap:~/.snmp$ grep -P -r "INDEX.*IMPLIED"  JuniperMibs | wc -l
33
tarko@tarkolap:~/.snmp$ grep -P -r "INDEX.*IMPLIED"  alcatel-7750 | wc -l
92
tarko@tarkolap:~/.snmp$ grep -P -r "INDEX.*IMPLIED"  huawei | wc -l
84
```